:root {
  --brand: #408be1;
  --light-brand: #589eee;
  --dark-brand: #2a7bd8;
  --brand-active: #dee0ff;
  --hover-brand: #e3e6ff;
  --color-white: #f5f5f5;
  --color-black: #555;
  --border: #dadada;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

input[type='checkbox'] {
  cursor: pointer;
  border: 2px solid #bcbcbc;
}

input {
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 12px;

  &::placeholder {
    font-size: 12px;
    color: #cccccc;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
