@import './helper.scss';

@mixin button {
  width: 18px;
  height: 18px;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#808c92, #262e44);

  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow: hidden;
    box-shadow: 1px 2px 18px 0 rgba(0, 0, 0, 0.1);

    .toolbar {
      .header {
        @include display-flex(center, center);
        font-weight: 900;
        width: 100%;
        height: 80px;
        background-color: var(--brand);
        color: var(--color-white);
        font-size: 24px;

        &.start {
          font-weight: 400;
          font-size: 16px;
        }
      }

      @mixin button {
        background-color: transparent;
        height: 24px;
        padding: 0 10px;
        color: var(--brand);
        font-size: 12px;
        transition: all 0.3s;
        font-weight: 700;

        &.disabled {
          background-color: var(--light-brand);
          cursor: not-allowed;
        }

        &:hover:not(.disabled) {
          background-color: var(--light-brand);
          color: var(--color-white);
        }
      }

      .utils-section {
        @include display-flex(center, space-between);
        position: relative;
        width: 100%;
        height: 34px;
        padding: 0 10px;
        color: var(--brand);
        background-color: #fff;
        border-bottom: 1px solid var(--border);
        z-index: 2;

        &.start {
          justify-content: center;
          .routine-control {
            display: none;
          }

          .exercise-control {
            justify-content: center;
            .buttons {
              display: none;
            }
          }
        }

        .routine-control {
          flex: 1;
          button.add-routine-button {
            @include button;
          }
        }

        .exercise-control {
          @include display-flex(center, space-between);
          flex: 2;
          .buttons {
            button {
              @include button;
            }
          }
        }
      }
    }
  }
}

.contents-field {
  display: flex;
  width: 100%;
  height: calc(100% - 114px);

  nav.routine-navigator {
    position: relative;
    flex: 1;
    height: 100%;
    flex-shrink: 0;

    form.add-routine-form {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 50px;
      background-color: var(--brand);
      box-shadow: 1px 2px 18px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;
      z-index: 10;

      &.show {
        @include display-flex(center, center);
      }

      input {
        width: 90%;
        height: 32px;
      }
    }

    // 루틴 리스트
    ul.routine-list {
      width: 100%;
      height: 100%;
      border-right: 1px solid var(--border);
      overflow: auto;
      background-color: #fff;
      li.routine-item {
        @include display-flex(center, space-between);
        height: 36px;
        padding: 0 10px 0 10px;
        border-bottom: 1px solid var(--border);
        cursor: pointer;
        transition: all 0.2s;

        &.active {
          input.routine-title {
            color: var(--brand) !important;
            font-weight: 700;
          }
        }

        &:hover {
          background-color: var(--hover-brand);
          border-color: var(--hover-brand);
        }

        input.routine-title {
          @include ellipse;
          width: 100%;
          height: 28px;
          margin-right: 6px;
          font-size: 12px;
          color: var(--color-black);
          background-color: transparent;
          cursor: pointer;

          &:focus {
            background-color: #fff;
            cursor: initial;
            color: var(--color-black) !important;
            font-weight: 400;
          }
        }

        .routine-utils {
          @include display-flex(center, space-between);

          button {
            @include button;
          }

          #routine-modify {
            background: url('/assets/modify.png') no-repeat center 2px;
            background-size: 16px;
            margin-right: 2px;
            opacity: 0.8;
          }

          #routine-delete {
            background: url('/assets/delete.png') no-repeat center;
            background-size: 16px;
            opacity: 0.8;
          }
        }
      }
    }
  }

  // 운동 리스트
  section.exercise-section {
    width: 100%;
    flex: 2;
    .exercise-list-field {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #fff;

      ul.exercise-list {
        width: 100%;
        height: 100%;
        overflow: auto;
        li.exercise-item {
          @include display-flex(center, space-between);
          height: 36px;
          padding: 0 20px;
          border-bottom: 1px solid var(--border);

          .exercise-title-field {
            @include display-flex(center, space-between);
            @include ellipse;

            input.exercise-checkbox {
              width: 13px;
              height: 13px;
            }

            label.exercise-title {
              @include display-flex(center, initial);
              @include ellipse;
              width: 208px;
              font-size: 12px;
              margin-left: 10px;
              cursor: pointer;

              & > div {
                &:first-child {
                  flex: 1;
                }
                &:nth-child(2) {
                  @include display-flex(center, flex-end);
                  width: 30px;
                  margin-right: 4px;
                  p:first-child {
                    margin-right: 4px;
                  }
                }
                &:nth-child(3) {
                  @include display-flex(center, flex-end);
                  width: 32px;
                  p:first-child {
                    margin-right: 4px;
                  }
                }
              }
            }
          }

          button.exercise-modify {
            @include button;
            background: url('/assets/modify.png') no-repeat center 2px;
            background-size: 16px;
            opacity: 0.8;
          }
        }
      }

      // 운동 입력 폼
      form.add-exercise-form {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: -1px -2px 18px 0 rgba(0, 0, 0, 0.3);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
        &.show {
          display: block;
        }

        .add-exercise-field {
          width: 100%;
          padding: 10px 20px;
          background-color: var(--brand);

          .input-field {
            & > div {
              @include display-flex(center, initial);

              label {
                flex-shrink: 0;
                font-size: 12px;
                color: var(--color-white);
              }

              input {
                width: 100%;
                height: 100%;
                margin-left: 8px;
                height: 32px;
              }
            }
          }

          .submit-field {
            @include display-flex(center, flex-end);
            height: 32px;
            margin-top: 10px;

            button {
              background-color: var(--light-brand);
              color: var(--color-white);
              width: 80px;
              height: 100%;
              transition: all 0.3s;
              &:last-child {
                margin-left: 10px;
              }

              &:hover {
                background-color: var(--dark-brand);
              }
            }
          }
        }
      }
    }
  }
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  p {
    font-size: 12px;
  }
}
