@mixin display-flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
